.DS_Store
.deps/
.build/
dist/
**/bin/
**/obj/

*.o
*.elf
*~

pkg/staging/
pkg/ps5torrent_install/
pkg/transfer_bundle/
pkg/*.pkg
!pkg/PS5Torrent.pkg
pkg/*.naps_metric.json
pkg/*.tar.gz
pkg/install_via_ftp.sh
pkg/sce_sys/*.png
!pkg/sce_sys/icon0.png
!pkg/sce_sys/pic0.png
!pkg/sce_sys/pic1.png

__pycache__/
*.py[cod]
